.container
    width: 100%
    color: 	rgb(40,40,40)
    display: flex
    justify-content: center
    align-items: center
    padding: 10%
    background-color: rgb(234, 210, 168, 0.3)
    background-image: url('./../../assets/images/sneakers.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: right center
    .content
        width: 100%
        display: flex
        flex-direction: column
        gap: 20rem
        .title
            width: 50rem
            h1
                font-size: 5rem
        .menu
            width: 70%
            display: flex
            justify-content: space-between
            align-items: center        
            .card
                position: relative
                cursor: pointer
                padding: 2rem
                display: flex
                justify-content: start
                align-items: center
                height: 6rem
                background-color: white
                border-radius: 10px
                width: 23%
                text-transform: uppercase
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
                transition: all .5s
                h4
                    font-size: 1.4rem
                    cursor: pointer
                &:hover
                    transform: scale(1.15)
