.container
    width: 100%
    color: 	rgb(40,40,40)
    display: flex
    justify-content: center
    align-items: center
    padding: 10%
    background-color: rgb(234, 210, 168, 0.3)
    background-image: url('./../../assets/images/sneakers.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: right center
    .content
        width: 100%
        display: flex
        flex-direction: column
        gap: 20rem
        .title
            width: 50rem
            h1
                font-size: 5rem

