.container
    width: 100%
    height: 5rem
    padding: 1% 4% 1% 4%
    display: flex
    justify-content: center
    background-color: rgb(234, 210, 168, 0.3)
    align-items: center
    .content
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .menu
            display: flex
            gap: 2rem
        .login
            display: flex
            gap: 2rem   
            align-items: center
        .btn
            text-decoration: none 
            font-weight: 500
            color: grey
            transition: all .2s
            &:hover
                color: black
